// @import "./mapbox.scss";

html,
body {
  overflow: auto;

  // ::-webkit-scrollbar {
  //   width: 0px;
  //   background: transparent;
  // }
  background-color: rgba(var(--v-theme-background));
  user-select: none;
}

svg {
  fill: currentColor;
}

i {
  display: flex;
}
