@import "./mapbox.scss";

.leaflet-control-attribution {
  display: none;
}

[href="https://www.maptiler.com"]
{
  display: none;
}

.maplibregl-control-container {
  display: none;
}

#map {
  position: fixed;
  width: 100%;
  height: 100%;
}

.leaflet-routing-container {
  position: fixed;
  top: -15000px;
  left: -15000px;
  z-index: -1;
}
