.mapboxgl-map {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-marker-point {
  position: relative;
  width: 10px;
  height: 10px;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mapbox-marker-point--circle {
    background-color: rgba(var(--v-theme-primary));
    border: 5px solid #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .mapbox-marker-point--radial {
    width: 100px;
    height: 100px;
    transform-origin: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--v-theme-primary), 0.2);
      border-radius: 100%;
      animation: marker-point-animation 2s ease-in-out infinite alternate;
    }

    @keyframes marker-point-animation {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.2);
      }
    }
  }
}

.mapbox-marker-radar {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .mapbox-marker-radar--circle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background: rgba(var(--v-theme-primary));
    animation: mapbox-marker-radar-animation 3s ease-out infinite;

    &:nth-of-type(1) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.6s;
    }
    &:nth-of-type(3) {
      animation-delay: 1s;
    }
    &:nth-of-type(4) {
      animation-delay: 1.4s;
    }
    &:nth-of-type(5) {
      animation-delay: 1.8s;
    }
  }

  @keyframes mapbox-marker-radar-animation {
    0% {
      opacity: 0.3;
    }
    // 30% {
    //   width: 50%;
    //   height: 50%;
    // }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .mapbox-marker-radar--point {
    background-color: rgba(var(--v-theme-primary));
    border: 5px solid #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
  }
}

.mapbox-marker-point-with-popup {
  .mapboxgl-popup-content {
    padding: 0px !important;
    background-color: transparent !important;

    > * {
      background-color: #000;
      color: #fff;
      padding: 5px 10px;
      border-radius: 16em;
    }
  }

  .mapboxgl-popup-tip {
    border-top-color: #000 !important;
  }
}
